.outermostGlobalChat {
	height: calc(100vh - 58px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.chatSection {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 325px 1fr;
	grid-template-rows: 1fr 80px;
}
.chatSidebar {
	background: var(--primary-color-darkgreen);
	color: var(--primary-text-color-whitesmoke);
}
.sidebarPositioner,
.sidebarPositionerX {
	background: var(--primary-color-darkgreen);
	display: flex;
	flex-direction: column;
	overflow: hidden;
	z-index: 1;
	position: fixed;

	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.mobilePositioner {
	padding: 20px;
}
.mainChatShow {
	padding: 20px;
	overflow-y: auto;
}
.chatMessage {
	background: var(--primary-color-darkgreen);
	color: var(--primary-text-color-whitesmoke);
	padding: 10px;
	border-radius: 17.5px;
	margin-bottom: 15px;
	word-break: break-word;
	white-space: pre-line;
}

.messageForm {
	background: var(--primary-color-darkgreen);
	grid-column: 1 / span 2;
	display: flex;
	gap: 20px;
	padding: 20px;
	justify-content: center;
	align-items: center;
}
.textarea {
	width: 100%;
	resize: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 60px;
}
.sendButton {
	cursor: pointer;
	height: 60px;
	width: 20%;
	font-size: 1.2rem;
}
.messageTimestamp {
	text-align: end;
}
.welcomeHead {
	text-align: center;
	color: var(--primary-text-color-yellow);
}
.unorderedList {
	max-height: 60vh;
	overflow-y: auto;
}
.mobileToggle {
	display: none;
	width: 100%;
	background: var(--primary-color-darkgreen);
	border: none;
	padding: 5px;
	font-weight: bold;
	color: var(--primary-text-color-yellow);
}
.messageDetails {
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.chatSection {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 80px;
	}
	.sidebarPositioner {
		width: 100%;
		height: 0px;
		zoom: 1;
		padding: 0;
		margin: 0;
		border: none;
	}
	.sidebarPositionerX {
		height: 100%;
		width: 100%;
	}
	.mobilePositioner {
		overflow: hidden;
		padding: 20px 50px;
		height: 100%;
	}
	.mobileToggle {
		display: block;
	}
	.messageForm {
		grid-column: 1;
	}
}
