.closeMenu {
	position: absolute;
	left: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 16px;
	color: var(--primary-text-color-whitesmoke);
	font-weight: bold;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.menuContainer {
	display: block;
	background: none;
	border: none;
	padding: 12px 16px;
}
.menuLines {
	width: 35px;
	height: 6px;
	background: var(--primary-color-whitesmoke);
	margin: 4px 0px;
}
.outerLeftMenu,
.outerLeftMenuX {
	height: 100%;
	z-index: 4;
	top: 0;
	left: 0;
	position: fixed;
	background: var(--primary-color-darkgreen);
	overflow-x: hidden;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.outerLeftMenu {
	width: 0px;
}
.outerLeftMenuX {
	width: 275px;
}
.mainLeftMenu {
	margin: 10% 0px;
	width: 100%;
	text-align: center;
	color: var(--primary-text-color-whitesmoke);
	display: flex;
	flex-wrap: wrap;
}
.mainLeftMenu p,
.mainLeftMenu q {
	font-weight: bold;
	width: 100%;
}
.mainLeftMenu a {
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 5px 20px;
	color: var(--primary-text-color-whitesmoke);
	font-size: 24px;
	text-align: start;
	text-decoration: none;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.mainLeftMenu a i {
	font-size: 24px;
}
.mainLeftMenu a:hover,
.mainLeftMenu a:focus,
.mainLeftMenu a:active {
	background: var(--primary-color-green);
	color: var(--primary-text-color-yellow);
}
@-webkit-keyframes mnhs-logo-glow {
	0% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
	25% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	50% {
		-webkit-box-shadow: 0px 0px 20px 15px var(--primary-color-yellow);
	}
	75% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	100% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
}
@keyframes mnhs-logo-glow {
	0% {
		box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
	25% {
		box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	50% {
		box-shadow: 0px 0px 20px 15px var(--primary-color-yellow);
	}
	75% {
		box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	100% {
		box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
}
.logoutButton {
	background: none;
	border: none;
	width: 100%;
}
