.outermostQuestion {
	width: 100%;
}
.secondOuter {
	padding: 10px;
	color: var(--primary-text-color-whitesmoke);
}
.header,
.body,
.meta,
.qnaNumber {
	word-break: break-word;
	border-radius: 10px;
	background: var(--primary-color-darkgreen);
	padding: 10px;
}
.body {
	white-space: pre-line;
}
.qnaNumber {
	text-align: center;
}
