.topNavigation {
    background: var(--bg-darkgreen);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.middleNavDiv {
    display: flex;
}

.navLink,
.dropDownLink {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--color-whitesmoke);
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;

    -o-transition: var(--fast-transition);
    -moz-transition: var(--fast-transition);
    -webkit-transition: var(--fast-transition);
    transition: var(--fast-transition);
}

.navLink i,
.dropDownLink i {
    font-style: normal;
    font-size: 15px;
}

.outerDropDown {
    position: relative;
}

.outerDropDown:hover .dropDownContent {
    display: block;
}

.dropDownContent {
    display: none;
    position: absolute;
    background: var(--bg-darkgreen);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
}

.dropDownLink {
    justify-content: start;
}

@media screen and (max-width: 1024px) {
    .navLink i span {
        display: none;
    }

    .navLink i {
        font-size: 25px;
    }

    .navLink {
        width: 75px;
    }
}

@media screen and (max-width: 768px) {
    .navLink {
        width: 20px;
    }
}

@media screen and (max-width: 480px) {
    .middleNavDiv {
        display: none;
    }
}