.closeMenu {
	position: absolute;
	left: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 16px;
	color: var(--color-whitesmoke);
	font-weight: bold;

	-o-transition: var(--fast-transition);
	-moz-transition: var(--fast-transition);
	-webkit-transition: var(--fast-transition);
	transition: var(--fast-transition);
}
.menuContainer {
	display: block;
	background: none;
	border: none;
	padding: 12px 16px;
}
.menuLines {
	width: 35px;
	height: 6px;
	background: var(--bg-whitesmoke);
	margin: 4px 0px;
}
.outerLeftMenu,
.outerLeftMenuX {
	height: 100%;
	z-index: 4;
	top: 0;
	left: 0;
	position: fixed;
	background: var(--bg-darkgreen);
	overflow-x: hidden;

	-o-transition: var(--fast-transition);
	-moz-transition: var(--fast-transition);
	-webkit-transition: var(--fast-transition);
	transition: var(--fast-transition);
}
.outerLeftMenu {
	width: 0px;
}
.outerLeftMenuX {
	width: 275px;
}
.mainLeftMenu {
	margin: 10% 0px;
	width: 100%;
	text-align: center;
	color: var(--color-whitesmoke);
	display: flex;
	flex-wrap: wrap;
}
.mainLeftMenu p,
.mainLeftMenu q,
.mainLeftMenu a {
	font-weight: bold;
	width: 100%;
}
.mainLeftMenu a {
	display: block;
	padding: 5px 20px;
	color: var(--color-whitesmoke);
	font-size: 24px;
	text-align: start;
	text-decoration: none;

	-o-transition: var(--fast-transition);
	-moz-transition: var(--fast-transition);
	-webkit-transition: var(--fast-transition);
	transition: var(--fast-transition);
}
.mainLeftMenu a i {
	font-size: 24px;
}
.mainLeftMenu a:hover,
.mainLeftMenu a:focus,
.mainLeftMenu a:active {
	background: var(--bg-green);
	color: var(--color-yellow);
}
@-webkit-keyframes mnhs-logo-glow {
	0% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
	25% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	50% {
		-webkit-box-shadow: 0px 0px 20px 15px var(--bg-yellow);
	}
	75% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	100% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
}
@keyframes mnhs-logo-glow {
	0% {
		box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
	25% {
		box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	50% {
		box-shadow: 0px 0px 20px 15px var(--bg-yellow);
	}
	75% {
		box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	100% {
		box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
}
.logoutButton {
	background: none;
	border: none;
	width: 100%;
}
