.outerAnswer {
	padding: 10px;
	color: var(--primary-text-color-whitesmoke);
}
.IndiAnswer {
	border-radius: 15px;
	padding: 10px;
	background: var(--primary-color-darkgreen);
	margin: 10px;
	word-wrap: break-word;
}
.meta {
	text-align: end;
}
