.closeMenu {
	position: absolute;
	right: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 16px;
	color: var(--color-whitesmoke);
	font-weight: bold;

}

.menuContainer {
	display: block;
	background: none;
	border: none;
	padding: 12px 16px;
}

.menuLines {
	width: 35px;
	height: 6px;
	background: var(--bg-whitesmoke);
	margin: 4px 0px;
}

.outerRightMenu,
.outerRightMenuX {
	height: 100%;
	z-index: 3;
	top: 0;
	right: 0;
	position: fixed;
	background: var(--bg-darkgreen);
	overflow-x: hidden;

}

.outerRightMenu {
	width: 0px;
}

.outerRightMenuX {
	width: 275px;
}

.mainRightMenu {
	margin: 10% 0px;
	width: 100%;
	text-align: center;
	color: var(--color-whitesmoke);
}