.toggleButton {
	display: none;
	border: none;
	background: none;
}
.outermostToggle,
.outermostToggleX {
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
	left: 0;
	background: var(--primary-color-darkgreen);
	overflow-x: hidden;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.outermostToggle {
	height: 0px;
}
.outermostToggleX {
	height: 100%;
}
.closeMenu {
	position: absolute;
	right: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	padding: 16px;
	color: var(--primary-text-color-whitesmoke);
	font-weight: bold;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.mainToggle {
	margin: 10% 0;
	width: 100%;
	text-align: center;
	color: var(--primary-text-color-whitesmoke);
	display: flex;
	flex-wrap: wrap;
}
.mainToggle p {
	font-weight: bold;
	width: 100%;
}
.navLink {
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 5px 20px;
	color: var(--primary-text-color-whitesmoke);
	font-size: 24px;
	text-align: start;
	text-decoration: none;
	-o-transition: var(--transition-hover-250ms-ease-in-out);
	-moz-transition: var(--transition-hover-250ms-ease-in-out);
	-webkit-transition: var(--transition-hover-250ms-ease-in-out);
	transition: var(--transition-hover-250ms-ease-in-out);
}
.navLink:hover,
.navLink:focus,
.navLink:active {
	background: var(--primary-color-green);
	color: var(--primary-text-color-yellow);
}
@media screen and (max-width: 480px) {
	.toggleButton {
		display: block;
	}
}
