.outermostResetPass {
	background-image: url("/attachables/campus-images/image10.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.resetPassFill {
	background: rgba(0, 0, 0, 0.2);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.resetPassFormat {
	background: rgba(0, 0, 0, 0.4);
	color: var(--color-whitesmoke);
	width: clamp(0px, 75%, 500px);
	min-height: 350px;
	display: flex;
	justify-content: center;
	padding: 20px;
	animation: mnhs-logo-glow 2s linear 0s infinite normal;
}
.formStyle {
	display: flex;
	flex-direction: column;
	width: clamp(0px, 100%, 320px);
	margin: auto;
}
.resetPassFormat form h2 {
	text-align: center;
}
.resetPassFormat form input,
.resetPassFormat button {
	padding: 5px;
}
@-webkit-keyframes mnhs-logo-glow {
	0% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
	25% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	50% {
		-webkit-box-shadow: 0px 0px 20px 15px var(--bg-yellow);
	}
	75% {
		-webkit-box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	100% {
		-webkit-box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
}
@keyframes mnhs-logo-glow {
	0% {
		box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
	25% {
		box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	50% {
		box-shadow: 0px 0px 20px 15px var(--bg-yellow);
	}
	75% {
		box-shadow: 0px 0px 20px 10px var(--bg-yellow);
	}
	100% {
		box-shadow: 0px 0px 20px 5px var(--bg-yellow);
	}
}
