.outermostFooter {
	background: var(--primary-color-darkgreen);
	color: var(--primary-text-color-whitesmoke);
}
.footerFlex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
}
.horizontalRuleFull {
	height: 3px;
	width: auto;
	background: var(--primary-color-yellow);
}
.leftFlexItem,
.rightFlexItem {
	width: clamp(0px, 100%, 75ch);
	height: 100%;
	text-align: center;
	padding: 10px;
}
.logoLeft {
	float: left;
}
.logoRight {
	float: right;
}
.mnhsQuote {
	font-weight: bold;
	display: block;
}
.rightFlexItem a {
	display: block;
	text-decoration: none;
	color: var(--primary-text-color-whitesmoke);
	transition: var(--transition-hover-250ms-ease-in-out);
	font-weight: bold;
}
.rightFlexItem a:hover,
.rightFlexItem a:focus,
.rightFlexItem a:active {
	color: var(--primary-color-yellow);
}
.footerCopyright {
	text-align: center;
	font-weight: bold;
}
.hiddenBreak {
	display: none;
}
@media screen and (max-width: 1024px) {
	.hiddenBreak {
		display: initial;
	}
	.footerFlex {
		flex-direction: column;
	}
	.leftFlexItem,
	.rightFlexItem {
		padding: 0px;
	}
}
@media screen and (max-width: 768px) {
	.logoLeft {
		width: 15%;
	}
	.logoRight {
		width: 15%;
	}
}
